# SPDX-License-Identifier: GPL-2.0-only
menu "arch/riscv/kvm testing"

config RISCV_KVM_TEST_CSR
        bool "Test KVM CSR emulation"
        depends on KVM
        default n
        help
            Enable this option to enable the emulation of a test hypervisor csr.
            The KVM test csr is the vsscratch register. Once this is enabled,
            reading/writing to the vsscratch register will trap into the host
            supervisor and reflect the change.

            If unsure, say N.

endmenu # "arch/riscv/kvm testing"
