# SPDX-License-Identifier: GPL-2.0-only

config KVM_MMIO_TEST
       bool "Enable kvm mmio testing"
       depends on KVM
       depends on KVM_MMIO
       default n
       help
         Enable testing for kvm mmio. This is a test-only mmio device that
         stores writes in a buffer and returns the buffered data on a read.
         
         This is useful for testing the kvm mmio emulation code. Enabling
         this does not run any tests, just builds in the support for the test
         device into the kernel.

         If unsure, say N.
